In [20]:
import os
import pandas as pd

In [21]:
directory='neg'

In [22]:
files = os.listdir(directory)

In [23]:
df=pd.DataFrame(columns=['review','type'])
df

Empty DataFrame
Columns: [review, type]
Index: []

In [24]:
files[0]

'1000083-0.txt'

In [25]:
rew=[]
for file in files:
       f=open('neg/'+file,'r',encoding='utf-8')
       x=f.read()
       rew.append(x)

In [26]:
rew[0]

"В 2003-ем году под руководством малоизвестного режиссёра Кларка Джонсона студия 'Columbia Pictures' решилась на полнометражную экранизацию сериала 'Спецназ' (в оригинале 'S.W.A.T.) с Сэмюелем Л. Джексоном и Колином Фарреллом в главных ролях. Лента собрала неплохую кассу, но отзывы критиков оказались смешанными. Тем не менее, спустя 7 лет был выпущен малобюджетный сиквел с Гэбриелом Махтом на сей раз. Фильм не нашёл множества откликов и посмотрело его небольшое количество зрителей (что объясняется не только низким бюджетом, но и качеством самой картины). И вот опять проходят те же 7 лет и на экраны отправляется третья часть в статусе 'мокбастера'. В главных ролях: Сэм Джагер (командир Трэвис Холл), Эдрианн Палики (инспектор Эллен Дуайр) и Майкл Джэй Уайт в роли таинственного преступника по кличке 'Скорпион'.\n\nДействие начинается с того, как командиру Трэвису Холлу и его группе приходит задание сопроводить чрезвычайно важный груз, за которым охотится могучая преступная организация. Внутри охраняемого фургона оказывается некто по кличке 'Скорпион' - он-то и должен стать мишенью для головорезов, ведь его познания криминального мира могут надолго запрятать главарей группировки за решётку. Как и ожидается, на бронированный фургон и его охрану стремительно начинается нападение, и Трэвису Холлу со всеми остальными приходится спрятаться в полицейском участке и раз за разом отражать атаки вооружённых бандитов. Неожиданно 'Скорпион' приходит на помощь командиру подразделения и указываем ему на то, что среди его приближённых действует 'крот'. Ведомый профессиональными чувствами и поддержкой 'Скорпиона' Трэвис Холл начинает круговую оборону...\n\nЗнающий поклонник полицейских боевик сразу узрит то, что в описанном сюжете есть что-то до боли знакомое. И окажется абсолютно прав: со всех уголков '...В осаде' будут сочиться знакомые эпизоды и художественные повороты, задействованные ещё в 1976-ом году Джоном Карпентером для ленты 'Нападение на 13-й участок'. Только постановщику 'Спецназа...' Тони Гиглио не хватило ни мастерства, ни таланта, чтобы хоть как-то приблизиться к качеству 'Нападения...' или его ремейку 2005-го года или хотя бы к французскому 'Осиному гнезду'. Всё, на что хватило создателей 'Спецназа...' - это дублировать сюжет классической ленты Карпентера, но делать это настолько плохо, что китайские дешёвые подделки смотрятся и то краше и лучше. Фильм шаблонный до изнеможения и любой зритель, видевший 'Нападение на 13-й участок' с двух нот предугадает развитие последующих событий.\n\nТони Гиглио явно не хватило бюджет (да и, возможно, способностей), чтобы хоть как-то презентабельно поставить динамику и экшн. Вроде бы он включил в картину и перестрелки со взрывами, про рукопашные схватки не позабыл, но поставлены они столь дремуче, что вызывают в лучшем случае зевоту. Гиглио поучиться бы у постановщиков схваток картины 'Неоспоримого', где из минимума выжали весь максимум. Сценаристы, несильно подключившие фантазию, а ставшие плагиаторами, не смогли толком даже внедрить интригу по поводу 'крота' в группе спецназа, он находится без телескопа 'Хаббл', настолько всё тривиально. Каким-то обезличенными предстали и актёры. Сэм Джагер, которому перепало в кои-то веки играть главную роль, только и смог, что доказал, что его место на телевидении, а в полном метре пока что только второстепенные персонажи. Эдрианн Палики - девушка, безусловно, красивая (журнал 'Maxim' редко ошибается), но с пистолетом она смотрится комично. Это же только в американских блокбастерах профессор биологии может быть с пятым размером груди. А Майкл Джэй Уайт сыграл сдержанно, как он это умеет, что показывал в фильме 'Никогда не сдавайся'.\n\nМожно ещё долго рассказывать о том, что полицейский боевик 'Спецназ: В осаде' - это крайне неудачное лекало со славноизвестного 'Нападения на 13-й участок', где экшн поставлен на низком уровне, сюжет - типичный плагиат, а актёры не добрались и до среднего уровня, но лучше бы, наверняка, было предостеречь потенциального зрителя от просмотра данного фильма и предложить посмотреть (или пересмотреть) всё то же 'Нападение...' или 'Осиное гнездо', если уж душа требует что-то типа 'герметичного боевика'.\n\n2 из 10"

In [27]:
df["review"]=rew
df["type"]=-1
df

                                                  review  type
0      В 2003-ем году под руководством малоизвестного...    -1
1      Грустно и печально. Грустно от того, что довол...    -1
2      Давным-давно Кира Найтли ворвалась на экран от...    -1
3      Я, в общем, ничего против уравновешенного феми...    -1
4      Измена — один из сюжетов, который всегда будет...    -1
...                                                  ...   ...
19822  Теоретически 'Проект Флорида' можно назвать и ...    -1
19823  В некотором Царстве, в некотором Государстве, ...    -1
19824  Сюжет. Какой-то третьесортный отель, расположе...    -1
19825  Трое бандитов грабят инкассатор с золотыми сли...    -1
19826  В этом фильме все должно было быть просто прев...    -1

[19827 rows x 2 columns]

In [29]:
df1=pd.DataFrame(columns=['review','type'])
df1

Empty DataFrame
Columns: [review, type]
Index: []

In [30]:
directory='neu'

In [31]:
files = os.listdir(directory)

In [32]:
rew=[]
for file in files:
       f=open('neu/'+file,'r',encoding='utf-8')
       x=f.read()
       rew.append(x)

In [34]:
df1["review"]=rew
df1["type"]=0
df1

                                                  review  type
0      Очередная французская комедия о свадьбе, котор...     0
1      Германия сразу после войны. Британский офицер ...     0
2      Реже всего на свете пишу рецензии на фильмы, н...     0
3      Примерно раз в сезон кинотеатры посещает что-т...     0
4      Зачастили как-то в последнее время кинематогра...     0
...                                                  ...   ...
24699  'Проект Флорида' - так первоначально назывался...     0
24700  Вот уж правда писать отрицательный отзыв сложн...     0
24701  Пусть трупы позагорают – французский артхаусны...     0
24702  Фильм-открытка для сельского зрителя с побужья...     0
24703  Заключительная часть гексалогии Тому Утиды о л...     0

[24704 rows x 2 columns]

In [35]:
df2=pd.DataFrame(columns=['review','type'])
df2

Empty DataFrame
Columns: [review, type]
Index: []

In [36]:
directory='pos'

In [37]:
files = os.listdir(directory)

In [39]:
rew=[]
for file in files:
       f=open('pos/'+file,'r',encoding='utf-8')
       x=f.read()
       rew.append(x)

In [40]:
df2["review"]=rew
df2["type"]=1
df2

                                                  review  type
0      Что делать, если любовница занимается организа...     1
1      Сюжет картины очень напоминает популярные амер...     1
2      Ребят, я только что из кинотеатра, в полном во...     1
3      Это кино прекрасно подойдёт для того, чтобы пр...     1
4      'Жених на двоих» - французская комедия о том, ...     1
...                                                  ...   ...
87133  Это одна из самых впечатляющих дорам просмотре...     1
87134  До сих пор пребываю под огромным впечатлением ...     1
87135  Муза французского перверсиониста Мандико, - Ло...     1
87136  Как в капле воды отражается мир, так в этом фи...     1
87137  «Думаете, у меня есть время заниматься моим се...     1

[87138 rows x 2 columns]

In [43]:
dataset=pd.concat([df,df1,df2],ignore_index=True)

In [44]:
dataset

                                                   review  type
0       В 2003-ем году под руководством малоизвестного...    -1
1       Грустно и печально. Грустно от того, что довол...    -1
2       Давным-давно Кира Найтли ворвалась на экран от...    -1
3       Я, в общем, ничего против уравновешенного феми...    -1
4       Измена — один из сюжетов, который всегда будет...    -1
...                                                   ...   ...
131664  Это одна из самых впечатляющих дорам просмотре...     1
131665  До сих пор пребываю под огромным впечатлением ...     1
131666  Муза французского перверсиониста Мандико, - Ло...     1
131667  Как в капле воды отражается мир, так в этом фи...     1
131668  «Думаете, у меня есть время заниматься моим се...     1

[131669 rows x 2 columns]

In [56]:
dataset=dataset.sample(frac=1).reset_index(drop=True)

In [57]:
dataset["type"].value_counts()

 1    87138
 0    24704
-1    19827
Name: type, dtype: int64

In [58]:
dataset[["review", "type"]].to_csv("kinopoisk.csv", index=False)

In [59]:
data=pd.read_csv("kinopoisk.csv")
data

                                                   review  type
0       Это моё мнение и мне без разницы сколько будет...     1
1       Вполне неплохое шоу, выгодно отличающееся от б...     1
2       Уж кто-кто, а российские специалисты 'умеют' с...     0
3       Нью-йоркский маргинал и, по совместительству –...     1
4       Есть такая категория фильмов, которые построен...     1
...                                                   ...   ...
131664  Придя из кинотеатра, необходимо было переварит...     1
131665  Молодой парень Адонис Джонсон вырос в приёмной...     0
131666  На дворе 21 век. Мировой кинематограф заражён ...    -1
131667  Ну и ничего, что 70 % времени уделено молодому...     1
131668  К завязке не имею никаких претензий, пусть и с...     0

[131669 rows x 2 columns]